<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@mipmap/launcher"
        android:label="Mergen"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Mergen"
        tools:ignore="DataExtractionRules,UnusedAttribute">

        <activity
            android:name=".Main"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
        </activity>
    </application>
</manifest>